body {	
    background-color: #d85046;	
}	

#fastShop, #settings {
    border: 3px solid #009688; 
}

#goSettings {
    color: #303030;
    background-color: #159589;
}

#goFastShop {
    color: #f0ad4e; 
}

#fastShop button {
    background-color: #159589;
    border-color: #159589
}

#fastShop button.confirm {
    visibility: hidden;
}

#fastShop button.confirm::before {
    visibility: visible;
    content: "Na pewno?";
    color: rgba(0, 0, 0, 0.8);
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    border-radius: 5px;
}

div:not(#plecak-tm) > div >.thumbnail-plecak {
    background-color: white;	
}

.panel-primary, .panel-primary>.panel-heading, .awatar, h2, .modal-header {	
    border-color: #0a665e;	
}	
	
.panel-primary>.panel-heading, h2, .modal-header {	
    background-color: #009688;	
}	
	
.panel-primary>.panel-body, .osiagniecie {	
   background-color: #ffffff;	
}


#goButton, #goAutoButton {
    background-color: #009688 !important;
}

.icon-select {
  width: 0px;
}
.icon-select .selected-box {
  position: relative;
  margin: 0px;
  padding: 0px;
}
.icon-select .selected-box img {
  position: relative;
  margin: 0px;
  padding: 0px;
  border-radius: 4px;
}
.icon-select .selected-icon {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 5px;
  left: 5px;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icon-select .component-icon {
  position: absolute;
  bottom: 5px;
  right: 4px;
  display: none;
}
.icon-select .box {
  position: absolute;
  top: 70px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: 170px;
  height: 170px;
  border: 2px solid #999999;
  background-color: #EEEEEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: auto;
}
.icon-select .icon {
  position: relative;
  margin: 5px 0px 0px 5px;
  padding: 0px;
  width: 48px;
  height: 48px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  float: left;
}
.icon-select .icon:hover {
  border: 1px solid #000000;
}
.icon-select .icon.selected {
  position: relative;
  margin: 5px 0px 0px 5px;
  padding: 0px;
  width: 48px;
  height: 48px;
  border: 1px solid #EEEEEE;
  background-color: #EEEEEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  float: left;
}
.exp-mode{
  height: 0px;
  overflow: hidden;
  transition-duration: 0.3s;
}
#settings div{
  float:left;
  width:100%;
}

.exp-mode div{
  border-bottom: solid 1px rgb(238, 238, 238);
}
#settings input{
  float:right;
}

.exp-mode-visible{
  margin-top: 6px;
  margin-bottom: 6px;
  height: auto;
  transition-duration: 0.3s;
}

.btn-druzyna {
    width: 22px;
    padding: 0px;
    margin: 2px;
}

.btn-primary {
    background-color: #009688;
    border-color: #009688;
}

button.btn.btn-primary:hover {
    color: #fff;
    background-color: #275450 !important;
    border-color: #275450 !important;
}

button.btn.btn-primary:active {
    color: #fff;
    background-color: #275450 !important;
    border-color: #275450 !important;
}

button.btn.btn-primary:active:focus {
    color: #fff;
    background-color: #275450 !important;
    border-color: #275450 !important;
}

button.btn.btn-primary:focus {
    color: #fff;
    background-color: #275450 !important;
    border-color: #275450 !important;
}

.btn-primary[disabled] {
    color: #fff;
    background-color: #232323;
    border-color: #232323;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #6f6563;
    border-color: #6f6563;
}
